.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3{
  margin-bottom: 1rem!important;
}

.sleep-chart {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 200px;
}

.h-100 {
  height: 100%;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.sleep-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullbar {
  height: 100%;
  background-color: #f6f6f6;
  position: relative;
  width: calc(25px + 1.75vw);
  border-radius: 25px
}

.bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius: 25px;
}

.label {
  text-transform: capitalize;
}

.chart-wrap {
  padding: 2rem 0rem;
  background-color: #ffffff;
  border-radius: 25px;
}

@media (min-width:991.8px) {
  .chart-wrap {
    display: flex;
    justify-content: center;
    margin: 0rem calc(5rem + 5vw);
  }
}

.footer {
  align-items: center;
  height: 75px;
  width: 100%;
  
  div {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;

    div {
      button {
        border: none;
        font-size: 24px;
        background-color: transparent;
      }

      .svg-button {
        padding: 0;
        width: 100%;
        img {
          width: 100%;
          max-width: 35px;
        }
      }

      .add-button {
        background-color: transparent;
        font-size: 60px;
        position: absolute;
        bottom: 25%;
      }
    }
  }
}

.graphButton {
  width: 100%;
  border-radius: 25px;
  max-width: 100px;
  margin-left: auto;
  background-color: #97b9fd;
  color: white;
  border: none;
  padding: 0;
  margin-bottom: 8px;
}

.mb-6 {
  margin-bottom: 5rem;
}